__DataBase__

collection of organized data, can be accessed or modified.

__types__

MySQL, redis, SQLite, SOLServer, PostgreSQL, and mongoDB, etc. 

__Library__

`TinyDB`: CRUD => Create, Read, Update, and Delete. No server is used unlike SQL database. stores the data in a JSON file, making it easy to read and write. JSON => JavaScript Oject Notation. 

__Setup__

Installing ---> `pip install tinydb`

In [1]:
from tinydb import TinyDB

__TinyDB__

below will create a file with the name provided if not presend. else it will just open the existing file

In [2]:
db = TinyDB("user_db.json")

__CREATE__

`*.insert` function is used to add the data to the file, like shown below.

In [10]:
db.insert({"name" : "Alice", "age" : 30, "city" : "new york"})
db.insert({"name" : "bob", "age" : 5, "city" : "austin"})

7

__READ__

`*.all` function is used to read the data from the json file.

In [4]:
all_user = db.all()
print(all_user)

[{'name': 'Alice', 'age': 30, 'city': 'new york'}]

`Query` to search the specific data from the json file and return that only like below.

In [12]:
from tinydb import Query

user = Query()
alice = db.search(user.name == "Alice")
print(alice)

[{'name': 'Alice', 'age': 26, 'city': 'new york'}]

__UPDATE__

using the `update` the exiting data in the JSON file using query and tinydb

In [11]:
db.update({"age" : 26}, user.name == "Alice")
all_user = db.all()
print(all_user)

[{'name': 'Alice', 'age': 26, 'city': 'new york'}, {'name': 'bob', 'age': 5, 'city': 'austin'}]

__DELETE__

`remove` function is used to delete the data or entry from the database.

In [13]:
db.remove(user.name == "Alice")
all_user = db.all()
print(all_user)

[{'name': 'bob', 'age': 5, 'city': 'austin'}]

__READ_ADVANCE__

In [15]:
all_user = db.all()
all_bob = db.search(user.name == "bob")
print(all_bob)
first = db.get(user.name == "bob")
print(first)
print(first.doc_id)

[{'name': 'bob', 'age': 5, 'city': 'austin'}]
{'name': 'bob', 'age': 5, 'city': 'austin'}
7