In [22]:
from tinydb import TinyDB

In [23]:
db = TinyDB('db.json')

## Insert (Create)

In [24]:
db.insert({ 
    "name": "John", 
    "age": 30, 
    "city": "New York" 
})

3

In [25]:
print(db.all())

[{'name': 'James', 'age': 26, 'city': 'Munich'}, {'name': 'John', 'age': 30, 'city': 'New York'}]

In [26]:
db.insert({ 
    "name": "James", 
    "age": 26, 
    "city": "Munich" 
})

4

In [27]:
print(db.all())

[{'name': 'James', 'age': 26, 'city': 'Munich'}, {'name': 'John', 'age': 30, 'city': 'New York'}, {'name': 'James', 'age': 26, 'city': 'Munich'}]

In [28]:
db.insert({ 
    "name": "Iris", 
    "age": 21, 
    "city": "Shanghai",
    "nationality": "Chinese"
})

5

In [29]:
print(db.all())

[{'name': 'James', 'age': 26, 'city': 'Munich'}, {'name': 'John', 'age': 30, 'city': 'New York'}, {'name': 'James', 'age': 26, 'city': 'Munich'}, {'name': 'Iris', 'age': 21, 'city': 'Shanghai', 'nationality': 'Chinese'}]

In [30]:
# Now a different John
db.insert({ 
    "name": "John", 
    "age": 66, 
    "city": "Copenhagen" 
})

6

## Query (Read)

In [31]:
from tinydb import Query

In [32]:
User = Query()

In [33]:
results = db.search(User.name == 'John')
results

[{'name': 'John', 'age': 30, 'city': 'New York'},
 {'name': 'John', 'age': 66, 'city': 'Copenhagen'}]

In [34]:
# To find the 'John' living in New York...
results = db.search(User.name == 'John' and User.city == 'New York')
results

[{'name': 'John', 'age': 30, 'city': 'New York'}]

In [35]:
# To find the 'John' eligible for IsarCard 65
results = db.search(User.name == 'John' and User.age > 65)
results

[{'name': 'John', 'age': 66, 'city': 'Copenhagen'}]

## Update

In [36]:
# Now Iris had her 22nd birthday, we should update her age
# Note: In a database, usually we don't store data that is time-variant, such as "age"
db.update({'age': 22}, User.name == 'Iris')

[5]

In [37]:
results = db.search(User.name == 'Iris')
results

[{'name': 'Iris', 'age': 22, 'city': 'Shanghai', 'nationality': 'Chinese'}]

## Remove (Delete)

In [38]:
# Now Iris is no longer with us, we need to remove her from the database
db.remove(User.name == 'Iris')

[5]

In [39]:
print(db.all())

[{'name': 'James', 'age': 26, 'city': 'Munich'}, {'name': 'John', 'age': 30, 'city': 'New York'}, {'name': 'James', 'age': 26, 'city': 'Munich'}, {'name': 'John', 'age': 66, 'city': 'Copenhagen'}]

### Exercise
How to remove the 'John' that's living in Copenhagen?

In [ ]:
db.remove() # Fill in YOUR CODE HERE
print(db.all())

[]